@import play.api.data.Form
@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@import models.User
@import models.Product
@import forms.CartAddForm
@(cart: Form[CartAddForm], product: Seq[Product], user: Seq[User])(implicit request: MessagesRequestHeader, flash: Flash)

    @import helper._

    @flash.get("success").getOrElse("")

    @form(controllers.routes.CartController.addCartHandle()) {
        @helper.CSRF.formField

        <label for="product"></label>
        <select name="product" id="product">
        @for(prod <- product) {
            <option value="@prod.id">@prod.name</option>
        }
        </select>
        <label for="user"></label>
        <select name="user" id="user">
        @for(us <- user) {
            <option value="@us.userID">@us.name</option>
        }
        </select>

        <div class="buttons">
            <input type="submit" value="Add Cart"/>
        </div>
    }
