@import models.Cart
@(carts: Seq[Cart])

    @for(cart <- carts) {
        <strong>@cart.id</strong>
        @cart.product
        @cart.user
        <a href="@controllers.routes.CartController.editCart(cart.id)">Edit</a>
                <a href="@controllers.routes.CartController.deleteCart(cart.id)">Delete</a>
                    <br/>
                    <br/>
    }
