@import forms.CategoryEditForm
@import play.api.data.Form
@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@(category: Form[CategoryEditForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.CategoryController.editCategoryHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@category("id").value" type="hidden" />
    @inputText(category("name"))

    <div class="buttons">
        <input type="submit" value="Edit Category"/>
    </div>
}
