@import models.Category
@(categories: Seq[Category])

@for(category <- categories) {
    <strong>@category.name</strong>
    <a href="@controllers.routes.CategoryController.editCategory(category.id)">Edit</a>
    <a href="@controllers.routes.CategoryController.deleteCategory(category.id)">Delete</a>
    <br /><br />
}
