@import models.Order
@(orders: Seq[Order])

    @for(order <- orders) {
        <strong>@order.id</strong>
        @order.user
        @order.cart
        @order.payment
        <a href="@controllers.routes.OrderController.editOrder(order.id)">Edit</a>
        <a href="@controllers.routes.OrderController.deleteOrder(order.id)">Delete</a>
                    <br /><br />
    }
