@import play.api.data.Form
@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@import forms.PaymentEditForm
@(payment: Form[PaymentEditForm])(implicit request: MessagesRequestHeader, flash: Flash)

    @import helper._

    @flash.get("success").getOrElse("")

    @form(controllers.routes.PaymentController.editPaymentHandle()) {
        @helper.CSRF.formField
        <input name="id" id="id" value="@payment("id").value" type="hidden" />

        @inputText(payment("amount"))A
        @inputText(payment("accountNumber"))
        <div class="buttons">A
            <input type="submit" value="Update Payment"/>
        </div>
    }
