@import models.Payment
@(payments: Seq[Payment])

    @for(payment <- payments) {
        @payment.amount
        @payment.accountNumber
        <a href="@controllers.routes.PaymentController.editPayment(payment.id)">Edit</a>
                <a href="@controllers.routes.PaymentController.deletePayment(payment.id)">Delete</a>
                    <br /><br />
    }
