@import forms.ProductAddForm
@import play.api.data.Form
@import play.api.mvc.Flash
@import models.Category
@(product: Form[ProductAddForm], category: Seq[Category])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.ProductController.addProductHandle()) {
    @helper.CSRF.formField
    @inputText(product("name"))
    @inputText(product("description"))

    <label for="category"></label>
    <select name="category" id="category">
    @for(cat <- category) {
        <option value="@cat.id">@cat.name</option>
    }
    </select>

    <div class="buttons">
        <input type="submit" value="Add Product"/>
    </div>
}
