@import models.Product
@(products: Seq[Product])

@for(product <- products) {
    <strong>@product.name</strong>
    @product.description
    @product.category
    <a href="@controllers.routes.ProductController.editProduct(product.id)">Edit</a>
    <a href="@controllers.routes.ProductController.deleteProduct(product.id)">Delete</a>
    <br /><br />
}
