@import models.Supplier
@(suppliers: Seq[Supplier])

@for(supplier <- suppliers) {
    <strong>@supplier.name</strong>
    @supplier.address
    <a href="@controllers.routes.SupplierController.editSupplier(supplier.id)">Edit</a>
    <a href="@controllers.routes.SupplierController.deleteSupplier(supplier.id)">Delete</a>
                <br /><br />
}
