@import play.api.data.Form
@import play.api.mvc.MessagesRequestHeader
@import play.api.mvc.Flash
@import forms.SupplierEditForm
@(supplier: Form[SupplierEditForm])(implicit request: MessagesRequestHeader, flash: Flash)

@import helper._

@flash.get("success").getOrElse("")

@form(controllers.routes.SupplierController.editSupplierHandle()) {
    @helper.CSRF.formField
    <input name="id" id="id" value="@supplier("id").value" type="hidden" />
    @inputText(supplier("name"))
    @inputText(supplier("address"))

    <div class="buttons">
        <input type="submit" value="Update Supplier"/>
    </div>
}
